NET "OUTPUT" IOSTANDARD = LVTTL;
NET "OUTPUT" SLEW = SLOW;
NET "OUTPUT" DRIVE = 8;
NET "OUTPUT" LOC = F12;
NET "INPUT_1" IOSTANDARD = LVTTL;
NET "INPUT_1" PULLUP;
NET "INPUT_1" LOC = L13;
NET "INPUT_2" IOSTANDARD = LVTTL;
NET "INPUT_2" PULLUP;
NET "INPUT_2" LOC = L14;
