NET "EXT_RST" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "EXT_LED(7)" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_LED(6)" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_LED(5)" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_LED(4)" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_LED(3)" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_LED(2)" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_LED(1)" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_LED(0)" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "EXT_CLK" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "EXT_LDP" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;
NET "EXT_RXD" LOC = "R7" | IOSTANDARD = LVTTL ;
NET "EXT_TXD" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;